name: build

on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  jamspell:
    runs-on: ubuntu-20.04
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install tesseract-ocr tesseract-ocr-spa swig4.0

      - name: Install pip dependencies
        run: pip install setuptools wheel

      - name: Build JamSpell
        run: |
          git clone https://github.com/bakwc/JamSpell.git
          cd JamSpell
          python setup.py bdist_wheel

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: ${{ github.workspace }}/JamSpell/dist/*.whl
          if-no-files-found: error

  detectron2:
    runs-on: ubuntu-20.04
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install pip dependencies
        run: pip install setuptools wheel --extra-index-url https://download.pytorch.org/whl/cpu torch==2.0.0 torchvision==0.15.1

      - name: Build Detectron2
        run: |
          git clone https://github.com/facebookresearch/detectron2.git
          cd detectron2
          git checkout v0.6
          python setup.py bdist_wheel

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: ${{ github.workspace }}/detectron2/dist/*.whl
          if-no-files-found: error

  release:
    needs: [jamspell, detectron2]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Update tag
        uses: richardsimko/update-tag@v1
        with:
          tag_name: 'latest'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: wheels
          path: wheels

      - uses: ncipollo/release-action@v1
        with:
          name: 'Continuous build'
          tag: 'latest'
          commit: 'main'
          makeLatest: true
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: 'wheels/*.whl'
